*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    text-transform: capitalize;
    position: relative;
    bottom: 10px;
    /* animation: ani 2s linear;
     */

}
/* @keyframes ani {
    
} */
 #a{
    text-transform: lowercase;
 }
h1:hover{
    color: green;

}
body{
    /* background: linear-gradient( to left,#ffa585,#45c5d8); */
    background: linear-gradient(135deg, #00b4db, #fc4a1a);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: capitalize;
    height: 100vh;
}
.cont{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    padding: 28px 32px;
    gap: 5px;
    /* width: 400px;
    height: 300px; */
    margin-top: 40px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
     padding: 30px 40px;
     color: white;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}
.passbox{
    border: none;
    /* background: linear-gradient( 0deg,#ffa585,#45c5d8); */
    /* width: 300px;
    height: 60px; */
    /* position: relative; */
    font-size: 20px;
    color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        word-break: break-all;
        background: rgba(255, 255, 255, 0.2);
        padding: 10px;
        border-radius: 8px;
      
}
.row{
    display: flex;
    /* flex-direction: column; */
    margin-block:9px;
}
.row p, .row label{
    flex-basis: 100%;
    font-size: 20px;
    cursor: pointer;
}
.row:hover{
    color: blue;
}
button{
    height: 40px;
    background-color: blue;
    border-radius: 6px;
    border: none;
    font-size: 18px;
}
.row input[type="checkbox"]{
    width: 25px;
    text-transform: lowercase;
}
button:hover{
    background-color: #0066ff;
    cursor: pointer;
}
.icon{
    font-size: 30px;
    position: relative;
    right: 50px;
    top: 7px;
    color: gray;
    cursor: pointer;
}
.checkbox{
    outline: none;
    border: none;

}
/* input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
  } */
   
  /* input[type="range"] {
    width: 70%;
  } */
  button {
    margin-top: 20px;
    background-color: blue;
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
